@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 223 39% 13%;
    
    --muted: 215 28% 93%;
    --muted-foreground: 223 19% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 223 47% 13%;

    --border: 217 26% 85%;
    --input: 223 20% 95%;

    --card: 0 0% 100%;
    --card-foreground: 223 39% 13%;

    --primary: 220 60% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 50% 85%;
    --secondary-foreground: 223 39% 13%;

    --accent: 203 90% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 220 30% 60%;
    
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 22% 9%;
    --foreground: 0 0% 98%;

    --muted: 222 25% 15%;
    --muted-foreground: 220 16% 65%;

    --popover: 222 22% 9%;
    --popover-foreground: 220 16% 70%;

    --border: 216 24% 17%;
    --input: 216 20% 20%;

    --card: 222 22% 9%;
    --card-foreground: 0 0% 98%;

    --primary: 203 80% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 24% 14%;
    --secondary-foreground: 0 0% 98%;

    --accent: 207 90% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 50% 45%;
    --destructive-foreground: 0 0% 98%;

    --ring: 210 30% 50%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    line-height: 1.6;
    letter-spacing: 0.01em;
  }
}

@layer components {
  .btn-primary {
    @apply text-primary-foreground bg-primary rounded-lg shadow-sm transition-transform transform hover:scale-105 hover:shadow-md;
  }
  
  .btn-secondary {
    @apply text-secondary-foreground bg-secondary rounded-lg shadow-sm transition-transform transform hover:scale-105 hover:shadow-md;
  }

  .card {
    @apply bg-card text-card-foreground rounded-lg shadow-sm p-4 border;
  }

  .input {
    @apply bg-input border border-border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-ring;
  }
}
